/* EX-1 */
.ex-1-square{
    transition: 2s;
}
.ex-1-square:hover {
    background-color: red;
}
/* EX-2 */
.ex-2-square{
    transition: 3s;
}
.ex-2-square:active{
    width: 70%;
}
/* EX-3 */
.ex-3-square{
    transition: 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* EX-4 */
.ex-4-square{
    transition: 2s;
}
.ex-4-square:hover{
    opacity: 0;
}
/* EX-5 */
.ex-5-square{
    transition: 2s;
}
.ex-5-square:hover{
    scale: 2;
}
.ex-5-square:active{
    scale: -1;
}
/* EX-6 */
.ex-6-img:hover{
    filter:grayscale(1);
}
/* EX-7 */
.ex-7-img{
    transition: 2s;
}
.ex-7-img:hover{
    filter: drop-shadow(4px 8px 20px black);
    width: 40%;
}
/* EX-8 */
.ex-8-img{
    transition: 3s;
}
.ex-8-img:hover{
    border-radius: 10%;
    filter: saturate(4);
    border: 2px solid #ff3c00;
}
/* EX-9 */
.ex-9-img{
    transition: 2s;
}
.ex-9-img:active{
    border-radius: 10%;
    scale: 1.5;
    filter: hue-rotate(45deg);
    filter: drop-shadow(4px 8px 20px black);
}
/* EX-10 */
.ex-10-icon{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes spin{
    0%{
        transform: rotate(1turn);
    }
}
/* EX-11 */
.ex-11-icon{
    animation: spin-2 2s linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}
@keyframes spin-2 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(280deg);
    }
    100% {
        transform: rotate(0);
    }
}
/* EX-12 */
.ex-12-button:hover .ex-12-top-white{
    animation: float-right 1.5s linear;
    
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: float-left 1.5s linear;
}
.ex-12-top-white:hover{
    animation: float-right 1.5s linear;
}
@keyframes float-right{
    0%{
       transform: translateX(0%);
    }
    50%{
        transform: translateX(180%);
    }
    100%{
        transform: translateX(0%);
    }
}
.ex-12-bottom-white:hover{
    animation: float-left 2s linear infinite;
}
/* PICKED THIS KEYFRAME FROM SOLUTIONS */
@keyframes float-left{
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}
/* EX-13 (PICKED FROM SOLUTIONS) */
.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s linear;
}
@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 2s linear;
}
@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}